[MASTER]
persistent = no

[MESSAGES CONTROL]
disable =
    arguments-differ,
    duplicate-code,
    import-error,
    line-too-long,
    missing-docstring,
    no-self-use,
    too-few-public-methods,
    unused-argument,

[REPORTS]
reports = no
